.my-account-container {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    padding-bottom: 100px;

    .title-content {
        width        : 100%;
        height       : 65px;
        padding      : 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .title {}
    }

    .profile-content {
        width         : 100%;
        display       : flex;
        flex-direction: row;
        padding-top   : 20px;
        gap           : 50px;

        .myAC-content-left {
            width         : 50%;
            display       : flex;
            flex-direction: column;
            gap           : 30px;
            padding-left  : 20px;
            height        : fit-content;

            .change-avt {
                width   : 130px;
                height  : 130px;
                position: relative;


                input {
                    // display : none;
                    width   : 100%;
                    height  : 100%;
                    position: absolute;
                    z-index : 2;
                    opacity : 0;
                    cursor  : pointer;

                    &.isDisable {
                        cursor: auto;
                    }
                }

                .avt-container {
                    position: absolute;
                    z-index : 1;

                    .avt {
                        width          : 130px;
                        height         : 130px;
                        border-radius  : 120px;
                        object-position: center;
                        object-fit     : cover;
                    }

                    .css-5iv1t3-MuiBadge-badge {
                        background-color: #f06e00;
                    }
                }

            }

            label {
                font-weight: 500;
                font-size  : 16px;
                width      : fit-content;
            }

            .customize-input {
                width           : 100%;
                height          : 50px;
                outline         : none;
                background-color: white;
                border          : 1px solid #E0E3E7;
                border-bottom   : '#E0E3E7';
                font-size       : 16px;
                border-radius   : 4px;
                padding         : 10px 12px;
                opacity         : 0.7;

                &:focus {
                    box-shadow  : rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    border-color: '#f06e00';
                }
            }


            .name-container {
                display        : flex;
                flex-direction : row;
                width          : 100%;
                justify-content: space-between;
                gap            : 20px;

                .name {
                    width: 50% !important;

                    .name-field {
                        width: 100%;
                    }
                }

            }

            .date-container {
                display       : flex;
                flex-direction: column;
                width         : 100%;
                gap           : 15px;

                .date-picker {
                    width           : 100%;
                    background-color: white;

                    .css-jupps9-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                        border-color: #f06e00;
                        border-width: 1px;
                    }

                    // .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
                    //     color: #707070 !important;
                    // }
                }
            }

            .phone-container {
                display       : flex;
                flex-direction: column;
                gap           : 10px;
            }

            .email-container {
                display       : flex;
                flex-direction: column;
                gap           : 10px;
            }

            .address-group {
                display        : flex;
                flex-direction : row;
                justify-content: space-between;

                .address-container {
                    display       : flex;
                    flex-direction: column;
                    gap           : 10px;
                }
            }

            .note-container {
                display       : flex;
                flex-direction: column;
                gap           : 10px;
            }

        }

        .myAC-content-right {
            width: 50%;

            .change-btn {
                color           : #f06e00;
                font-size       : 17px;
                cursor          : pointer;
                outline         : none;
                border          : none;
                background-color: inherit;

                span {
                    color      : #f06e00;
                    margin-left: 10px;
                    font-weight: 480;
                }

                &.submit {
                    color: #4caf50;

                    span {
                        color: #4caf50
                    }
                }

                &:hover {
                    opacity: 0.7;
                }
            }



        }
    }
}