.rating-modal-container {
    width           : 800px;
    background-color: white;
    padding         : 25px;

    .rating-content {
        .group-btn {
            width          : 100%;
            display        : flex;
            flex-direction : row;
            align-items    : flex-end;
            gap            : 10px;
            justify-content: end;
        }

        button {
            width      : 150px;
            height     : 40px;
            font-size  : 13px;
            font-weight: 400;
            transition : all 0.5s;

        }

        .btn1 {
            border             : 1px solid rgba(0, 0, 0, 0.1);
            background-color   : white;
            // padding         : 15px 15px;

            &:hover {
                opacity: 0.8;
                border : 1px solid black;

            }
        }

        .btn2 {

            background-color   : white;
            // padding         : 15px 15px;
            color              : white;
            background-color   : #f06e00;
            border             : 1px solid #f06e00;
            display            : flex;
            align-items        : center;
            justify-content    : center;

            span {
                margin-right: 5px;
            }

            &:hover {
                opacity         : 0.8;
                background-color: white;
                color           : #f06e00;
            }

        }

        .btn3 {
            width           : 75px;
            height          : 100%;
            background-color: white;
            color           : #f06e00;
            border          : 1px solid #f06e00;
            display         : flex;
            align-items     : center;
            justify-content : center;
            position        : relative;
            z-index         : 1;

            span {
                margin-top : 3px;
                margin-left: 5px;
            }

            input {
                position: absolute;
                z-index : 2;
                width   : 100%;
                height  : 100%;
                opacity : 0;
            }

            &:hover {
                opacity: 0.5;
            }
        }

        .header {
            font-size  : 20px;
            font-weight: 500;
        }

        .left {
            display       : flex;
            flex-direction: row;
            margin-top    : 20px;

            .image {
                width     : 50px;
                height    : 80px;
                object-fit: contain;
            }

            .info {
                margin-left    : 15px;
                display        : flex;
                flex-direction : column;
                justify-content: space-between;

                .inf-top {
                    display       : flex;
                    flex-direction: column;
                    width         : fit-content;
                    max-width     : 500px;

                    .name {
                        font-size: 16px;
                    }

                    .des {
                        font-size: 13px;
                        color    : #707070;
                    }

                    .total {
                        font-size: 15px;
                    }
                }


            }
        }

        .star {
            margin: 20px 0;
        }

        .rating-box {
            width        : 100%;
            margin       : 10px 0;
            margin-bottom: 20px;

            .content {}
        }

        .arrImg-container {
            width         : 100%;
            height        : 75px;
            border        : 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom : 20px;
            display       : flex;
            flex-direction: row;

            .img-review {
                width       : 85px;
                height      : 100%;
                object-fit  : cover;
                margin-right: 5px;
                border      : 1px solid rgba(0, 0, 0, 0.2);
            }
        }

    }


}

.css-zsp0bh-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #f06e00 !important;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #f06e00 !important;
}