.user-profile-container {
    width        : 100%;
    height       : 500px;
    // border    : 1px solid red;
    margin-top   : 80px;
    text-align   : left;
    padding      : 0 50px;

    .profile-header {
        margin: 30px 0;
    }

    .profile-container {
        width         : 100%;
        display       : flex;
        flex-direction: row;
        gap           : 35px;

        .content-left {
            width           : 20%;
            border-radius   : 10px;
            display         : flex;
            flex-direction  : column;
            background-color: rgba(0, 0, 0, 0.03);
            height          : fit-content;

            .user-avt {
                display        : flex;
                flex-direction : row;
                gap            : 20px;
                align-items    : center;
                justify-content: left;
                margin-top     : 20px;

                .avt-container {
                    padding-left: 30px;

                    .user-avt {
                        width          : 70px;
                        height         : 70px;
                        object-position: center;
                        object-fit     : cover;
                        border-radius  : 50px;
                    }
                }

                .name-container {
                    display       : flex;
                    flex-direction: column;

                    .text-1 {
                        color    : #707070;
                        font-size: 15px;
                    }

                    .text-2 {
                        font-weight: 500;
                        font-size  : 20px;
                    }
                }
            }

            .menu {
                display       : flex;
                flex-direction: column;
                width         : 100%;
                margin-top    : 30px;

                .item {
                    display        : flex;
                    flex-direction : row;
                    align-items    : center;
                    justify-content: left;
                    gap            : 15px;
                    padding-left   : 30px;
                    width          : 100%;
                    height         : 60px;
                    border-top     : 1px solid rgba(0, 0, 0, 0.1);
                    cursor         : pointer;
                    transition     : all 0.2s;

                    span {
                        font-size: 14.5px;
                    }

                    &.active {
                        background-color: #f06e00;
                        color           : white;
                    }
                }
            }
        }

        .content-right {
            width           : 80%;
            border-radius   : 10px;
            height          : fit-content;
            background-color: rgba(0, 0, 0, 0.03);

        }
    }
}