.collection-container {
    width            : 100%;
    height           : 620px;
    // border        : 1px solid red;
    display          : flex;
    flex-direction   : row;


    .swiper {
        width      : 100%;
        height     : 100%;
        // overflow: visible;

    }


    .collection-card {
        width                : 100%;
        height               : 100%;
        //  border           : 1px solid green;
        display              : flex;
        flex-direction       : column;
        justify-content      : flex-end;
        background-repeat    : no-repeat;
        background-size      : cover;
        background-position-x: center;
        background-position-y: center;
        position             : relative;
        z-index              : 1;
        cursor               : pointer;

        &::after {
            content   : "";
            position  : absolute;
            left      : 0;
            bottom    : 0;
            right     : 0;
            z-index   : 1;
            width     : 100%;
            height    : 31rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
        }

        .text-group {
            display        : flex;
            flex-direction : column;
            justify-content: left;
            align-items    : flex-start;
            margin-bottom  : 30px;
            padding-left   : 30px;
            z-index        : 2;

            .header-text {
                font-size     : 30px;
                font-weight   : 600;
                line-height   : 1;
                color         : #fff;
                font-family   : 'Garamond Premiere', 'pretendard';
                letter-spacing: -0.5px;
            }

            .content-text {
                font-size     : 18px;
                font-weight   : 400;
                line-height   : 1;
                color         : #fff;
                margin-top    : 6px;
                letter-spacing: -0.02em;
                font-family   : 'Poppins', 'pretendard';
            }

            .bottom-text {
                font-size            : 18px;
                font-weight          : 400;
                line-height          : 1;
                color                : #fff;
                margin-top           : 30px;
                letter-spacing       : -0.02em;
                text-decoration      : underline;
                font-family          : 'Poppins', 'pretendard';
                text-underline-offset: 5px;
            }
        }

    }

    // .swiper-button-prev,
    // .swiper-button-next {
    //     color: black
    // }

    .swiper-wrapper {
        transition-duration: 0.8s !important;
    }



}