.home-sections {
    margin-top    : 7%;
    padding       : 0 4%;
    display       : flex;
    flex-direction: column;
    gap           : 150px;

    .secitons {}

}

.first-about-container {
    width : 100%;
    height: 690px;
}

.second-about-container {}