.home-nav-container {

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
        margin     : 0;
        padding    : 0;
        box-sizing : border-box;
        font-family: 'Poppins', sans-serif;

    }


    .nav-sticky {
        z-index   : 99;
        width     : 100%;
        background: white;
        position  : absolute;
    }

    .nav-fixed {
        z-index   : 99;
        width     : 100%;
        background: white;
        position  : fixed;
        top       : 0;
    }

    nav .wrapper {
        position       : relative;
        width          : 100%;
        padding        : 0px 45px;
        height         : 60px;
        line-height    : 43px;
        margin         : auto;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        border-bottom  : 1px solid rgba(0, 0, 0, 0.1);

        .content-left {
            display       : flex;
            flex-direction: row;

        }
    }



    .logo-container {
        width : 110px;
        height: 60px;

        .swiper {
            width : 100%;
            height: 100%;
        }

        .swiper-slide {
            cursor: pointer;
        }

        .logo {
            width                   : 100%;
            height                  : 100%;
            // background-image     : url('https://www.elleman.vn/wp-content/uploads/2018/09/11/logo-thuong-hieu-stussy-3-elle-man.jpg');
            background-repeat       : no-repeat;
            background-size         : contain;
            background-position-y   : center;
            background-position-x   : center;
            cursor                  : pointer;
        }

    }


    .wrapper .nav-links {
        display: inline-flex;
    }

    .nav-links li {
        list-style: none;
    }


    .hightlight-item {
        color          : #f06e00;
        text-decoration: none;
        font-size      : 12.5px;
        font-weight    : 700;
        padding        : 9px 15px;
        border-radius  : 5px;
        transition     : all 0.3s ease;
        display        : block;
        width          : fit-content;
    }

    .normal-item {
        color          : black;
        text-decoration: none;
        font-size      : 12.5px;
        font-weight    : 400;
        padding        : 9px 15px;
        border-radius  : 5px;
        transition     : all 0.3s ease;
        cursor         : pointer;
        display        : block;
        width          : fit-content;
        text-align     : center;
    }



    .nav-links {

        &:hover li a {
            opacity: 0.4;
        }


        li a:hover {
            opacity: 1;
        }


        .mobile-item {
            display: none;
        }

        .drop-menu {
            position   : absolute;
            background : white;
            width      : 180px;
            line-height: 45px;
            top        : 85px;
            opacity    : 0;
            visibility : hidden;
            box-shadow : 0 6px 10px rgba(0, 0, 0, 0.15);
        }

        li:hover .drop-menu,
        li:hover .mega-box {
            transition: all 0.3s ease;
            top       : 60px;
            opacity   : 1;
            visibility: visible;
        }

    }





    .drop-menu li a {
        width        : 100%;
        display      : block;
        padding      : 0 0 0 15px;
        font-weight  : 400;
        border-radius: 0px;
        cursor       : pointer;
    }

    .mega-box {
        position     : absolute;
        left         : 0;
        width        : 100%;
        // padding   : 0 30px;
        top          : 85px;
        opacity      : 0;
        visibility   : hidden;
        height       : 400px;

        .content {
            height            : 100%;
            background        : white;
            // padding        : 25px 20px;
            display           : flex;
            width             : 100%;
            justify-content   : space-between;
            box-shadow        : 0 6px 10px rgba(0, 0, 0, 0.15);

            .content-left {
                padding-top   : 1%;
                width         : 35%;
                height        : 100%;
                display       : flex;
                flex-direction: row;

                .section {
                    display       : flex;
                    flex-direction: column;
                    padding       : 0 30px;

                    ul {
                        li {
                            text-align : left;
                            font-size  : 14px;
                            font-weight: 400;
                            color      : #9a9a9a;
                            line-height: 1;
                            padding    : 7.5px 0;
                            cursor     : pointer;
                            transition : all 0.3s;

                            &:hover {
                                color: black;
                            }
                        }
                    }

                    &.section1 {
                        width : 60%;
                        height: 100%;
                    }

                    &.section2 {
                        width : 40%;
                        height: 100%;
                    }
                }

            }

            .content-right {
                width           : 65%;
                height          : 100%;
                background-image: url("https://whoau.com/morenvyimg/all_cate_bg.png");
                display         : flex;
                flex-direction  : row;
                gap             : 20px;
                justify-content : space-between;
                align-items     : center;
                padding         : 0 30px;

                .img {
                    background-size  : cover;
                    width            : 300px;
                    height           : 300px;
                    background-repeat: no-repeat;
                    cursor           : pointer;


                    .font-img {
                        width           : 100%;
                        height          : 100%;
                        color           : white;
                        text-align      : center;
                        display         : flex;
                        flex-direction  : row;
                        align-items     : center;
                        justify-content : center;
                        background-color: rgba(0, 0, 0, 0.6);
                        font-size       : 14px;
                        font-weight     : 400;
                        opacity         : 0;
                        transition      : all 0.3s;
                    }

                    &:hover .font-img {
                        opacity: 1;
                    }

                    &.img1 {
                        background-image: url("https://whoau.com/web/upload/NNEditor/20241007/f6f3b62ede016d18afcc493edab79062.jpg");
                    }

                    &.img2 {
                        background-image: url("https://i.pinimg.com/736x/e2/10/ad/e210adbf95357d41b8b045edbfdbff5e.jpg");

                    }

                    &.img3 {
                        background-image: url("https://img07.shop-pro.jp/PA01261/822/product/157704034_o8.jpg?cmsp_timestamp=20210702191417");
                    }

                    &.img-community {
                        width           : 100%;
                        background-image: url('https://whoau.com/web/upload/NNEditor/20240827/9befeec122d48155176e2e9da33225e0.jpg');
                    }
                }

            }

        }
    }



    // .mega-box .content .row {
    //     width      : calc(25% - 30px);
    //     line-height: 45px;
    // }

    // .content .row img {
    //     width     : 100%;
    //     height    : 100%;
    //     object-fit: cover;
    // }

    // .content .row header {
    //     color      : black;
    //     font-size  : 20px;
    //     font-weight: 500;
    // }

    // .content .row .mega-links {
    //     margin-left: -40px;
    //     border-left: 1px solid rgba(255, 255, 255, 0.09);
    // }

    .row .mega-links li {
        padding: 0 20px;
    }

    .row .mega-links li a {
        padding  : 0px;
        padding  : 0 20px;
        color    : black;
        font-size: 17px;
        display  : block;
    }

    .row .mega-links li a:hover {
        color: #f2f2f2;
    }

    .wrapper .btn {
        color    : #fff;
        font-size: 20px;
        cursor   : pointer;
        display  : none;
    }

    .wrapper .btn.close-btn {
        position: absolute;
        right   : 30px;
        top     : 10px;
    }

    @media screen and (max-width: 970px) {
        .wrapper .btn {
            display: block;
        }

        .wrapper .nav-links {
            position   : fixed;
            height     : 100vh;
            width      : 100%;
            max-width  : 350px;
            top        : 0;
            left       : -100%;
            background : white;
            display    : block;
            padding    : 50px 10px;
            line-height: 50px;
            overflow-y : auto;
            box-shadow : 0px 15px 15px rgba(0, 0, 0, 0.18);
            transition : all 0.3s ease;
        }

        /* custom scroll bar */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            background: white;
        }

        ::-webkit-scrollbar-thumb {
            background: white;
        }

        #menu-btn:checked~.nav-links {
            left: 0%;
        }

        #menu-btn:checked~.btn.menu-btn {
            display: none;
        }

        #close-btn:checked~.btn.menu-btn {
            display: block;
        }

        .nav-links li {
            margin: 15px 10px;
        }

        .nav-links li a {
            padding  : 0 20px;
            display  : block;
            font-size: 20px;
        }

        .nav-links .drop-menu {
            position    : static;
            opacity     : 1;
            top         : 65px;
            visibility  : visible;
            padding-left: 20px;
            width       : 100%;
            max-height  : 0px;
            overflow    : hidden;
            box-shadow  : none;
            transition  : all 0.3s ease;
        }

        #showDrop:checked~.drop-menu,
        #showMega:checked~.mega-box {
            max-height: 100%;
        }

        .nav-links .desktop-item {
            display: none;
        }

        .nav-links .mobile-item {
            display      : block;
            color        : #f2f2f2;
            font-size    : 20px;
            font-weight  : 500;
            padding-left : 20px;
            cursor       : pointer;
            border-radius: 5px;
            transition   : all 0.3s ease;
        }

        .nav-links .mobile-item:hover {
            opacity: 1;
        }

        .drop-menu li {
            margin: 0;
        }

        .drop-menu li a {
            border-radius: 5px;
            font-size    : 18px;
        }

        .mega-box {
            position  : static;
            top       : 65px;
            opacity   : 1;
            visibility: visible;
            padding   : 0 20px;
            max-height: 0px;
            overflow  : hidden;
            transition: all 0.3s ease;


            .content {
                box-shadow    : none;
                flex-direction: column;
                padding       : 20px 20px 0 20px;

                .row {
                    width        : 100%;
                    margin-bottom: 15px;
                    border-top   : 1px solid rgba(255, 255, 255, 0.08);

                    &:nth-child(1),
                    &:nth-child(2) {
                        border-top: 0px;
                    }

                    .mega-links {
                        border-left : 0px;
                        padding-left: 15px;

                        li {
                            margin: 0;
                        }
                    }

                    header {
                        font-size: 19px;
                    }

                }
            }

        }

    }

    nav input {
        display: none;
    }

    .body-text {
        position  : absolute;
        top       : 50%;
        left      : 50%;
        transform : translate(-50%, -50%);
        width     : 100%;
        text-align: center;
        padding   : 0 30px;
    }

    .body-text div {
        font-size  : 45px;
        font-weight: 600;
    }

    .nav-icons {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: center;
        margin-left    : 10%;
        gap            : 30px;

        .icon {
            width : auto;
            height: 18px;
            cursor: pointer;
        }
    }

    .css-ihowzd-MuiBadge-badge {
        cursor          : pointer;
        background-color: #f06e00;
    }
}

.search-mega-box {
    position        : fixed;
    height          : 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    width           : 100%;
    left            : 0;
    top             : 40px;
    z-index         : -1;
    opacity         : 0;
    transition      : all 0.5s;

    &.open {
        opacity: 1;
        z-index: 3;
    }

    .search-box-modal {
        width           : 100%;
        height          : 450px;
        background-color: white;
        position        : absolute;
        left            : 0;
        top             : -390px;
        transition      : all 0.5s;
        z-index         : 0;
        padding         : 100px 45px;
        display         : flex;
        flex-direction  : column;
        align-items     : start;

        &.open {
            top: 0;
        }

        .search-content {

            .search-input {
                width           : 560px;
                height          : 50px;
                background-color: rgba(0, 0, 0, 0.05);
                outline         : none;
                border          : none;
                padding-left    : 30px;
                font-size       : 14px;

                &::placeholder {
                    color: 707070;
                }
            }

            .icon {
                width           : 54px;
                height          : 50px;
                padding-right   : 20px;
                background-color: rgba(0, 0, 0, 0.05);
                color           : #707070;
                cursor          : pointer;
            }

        }

        .title {
            margin-top: 50px;
            font-size : 15px;
        }

        .search-terms {
            margin-top    : 10px;
            width         : 50%;
            display       : flex;
            flex-direction: row;
            gap           : 10px;

            .term {
                opacity  : 0.5;
                font-size: 14.5px;
                cursor   : pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }


    }
}