.stock-container {
    .section {
        display       : flex;
        flex-direction: row;
        gap           : 30px;

        .title {
            font-weight: 480;
            font-size  : 105%;
        }

        .description {
            font-size  : 85%;
            font-weight: 400;
            opacity    : 0.6;
        }

        .size-group {
            width          : 50%;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;

            // border         : 1px solid red;



            .size-container {
                width          : 100%;
                display        : flex;
                flex-direction : row;
                gap            : 7px;
                justify-content: space-between;
                margin-top     : 10px;
                align-items    : center;
                flex-wrap      : wrap;


                .size {
                    border          : none;
                    width           : 50px;
                    height          : 50px;
                    background-color: rgba(0, 0, 0, 0.05);
                    border-radius   : 3px;

                    &.active {
                        background-color: rgba(25, 118, 210, 0.08);
                    }
                }
            }
        }

        .color-group {
            display       : flex;
            flex-direction: column;
            height        : 110px;
            width         : 50%;

            .title {
                font-weight: 480;
                font-size  : 105%;
            }

            .description {
                font-size  : 85%;
                font-weight: 400;
                opacity    : 0.6;
            }

            .color-container {
                width                : 100%;
                display              : flex;
                flex-direction       : row;
                align-items          : center;
                justify-content      : space-between;
                height               : 50px;
                // border         : 1px solid red;
                margin-top           : 5px;
                height               : 110px;
                // border            : 1px solid red;
                flex-wrap            : wrap;

                .color {
                    width: 100px;
                }
            }
        }

        .stock-group {
            margin-top     : 20px;
            width          : 50%;
            display        : flex;
            flex-direction : column;
            justify-content: left;

            .stock-input {}

            // .css-1j615le-MuiInputBase-input-MuiOutlinedInput-input {
            //     height: 0.19em !important;
            // }
        }

        .submit-group {
            margin-top     : 20px;
            width          : 50%;
            display        : flex;
            flex-direction : column;
            justify-content: left;
        }

        .text-field {
            width         : 100%;
            display       : flex;
            flex-direction: column;
        }
    }
}