.register-container {
    width: 500px;

    margin-left  : auto;
    margin-right : auto;
    box-shadow   : 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin-top   : 1.5%;
    margin-bottom: 10%;

    .register-content {
        display       : flex;
        flex-direction: column;
        align-self    : center;
        width         : 100%;

        .form-row {
            width          : 100%;
            display        : flex;
            flex-direction : row;
            gap            : 5%;
            align-items    : center;
            justify-content: center;
        }
    }
}