.manage-clothes-container {
    width: 100%;

    .color-group {
        // width          : 50px;
        // height         : 50px;
        // display        : flex;
        // flex-direction : row;
        // justify-content: center;
        // align-items    : center;
        // margin-top     : 25%;
    }

    .css-4zu5p1-MuiAvatarGroup-root .MuiAvatar-root {
        border     : 2px solid var(--mui-palette-background-default);
        box-sizing : content-box;
        margin-left: var(--AvatarGroup-spacing, -8px);
        height     : 31px;
        width      : 32px;
        font-size  : 96%;
    }
}



.upload-image-container {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    gap           : 10px;

    .content-left {
        width  : 325px;
        border : 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .content-right {
        display       : flex;
        flex-direction: column;

        .text-information {
            width : 500px;
            height: 330px;

        }

        .group-button {
            width          : 500px;
            height         : 90px;
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            gap            : 30px;
            padding-top    : 30px;
        }
    }
}

.css-11cfq65-MuiTablePagination-displayedRows {
    margin-top: auto;
}