.check-out-container {
    width     : 100%;
    margin-top: 70px;

    .check-out-content {
        width           : 100%;
        padding         : 0 55px;
        display         : flex;
        flex-direction  : column;
        background-color: rgba(0, 0, 0, 0.03);

        .address-container {
            width           : 100%;
            height          : 130px;
            // border: 1px solid red;
            background-color: white;

            .horizone-line {
                width           : 100%;
                height          : 3px;
                background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
            }

            .address-content {
                height         : 100%;
                display        : flex;
                flex-direction : column;
                align-items    : flex-start;
                justify-content: center;
                gap            : 20px;
                padding-left   : 20px;

                .location {
                    color          : #f06e00;
                    display        : flex;
                    flex-direction : row;
                    justify-content: center;
                    align-items    : center;
                    font-size      : 18px;
                    gap            : 7px;

                    span {
                        // font-size: 18px;
                    }
                }

                .address {
                    margin-left    : 10px;
                    display        : flex;
                    flex-direction : row;
                    align-items    : center;
                    justify-content: center;

                    .add-left {
                        font-weight: 600;
                        font-size  : 17px;
                    }

                    .add-right {
                        margin-left: 10px;
                    }

                    .default {
                        width      : 50px;
                        height     : 17px;
                        border     : 1px solid #f06e00;
                        color      : #f06e00;
                        font-size  : 11px;
                        margin-left: 10px;
                        margin-top : 3px;
                    }
                }
            }

        }

        .checkout-side {
            width              : 100%;
            // border          : 1px solid red;
            background-color   : white;
            margin-top         : 15px;
            padding            : 0 20px;
            padding-top        : 30px;

            table {


                thead {
                    h5 {
                        font-size    : 18px;
                        font-weight  : 400;
                        margin-bottom: 0;
                        text-align   : left;
                    }

                    span {
                        font-size  : 14px;
                        font-weight: 400;
                        color      : #707070;
                    }
                }

                tbody {
                    // display       : flex;
                    // flex-direction: column;
                    // gap           : 20px;
                    // margin        : 20px 0;


                    tr {
                        td {

                            .gap {
                                width      : 400px;
                                padding-top: 10px;
                                color      : #707070;
                                font-size  : 14px;
                                text-align : left;
                                margin     : 20px 0;

                                // position   : absolute;
                            }


                            .product {
                                // padding       : 0 20px;
                                display       : flex;
                                flex-direction: row;
                                gap           : 15px;
                                width         : 300px;

                                .img {
                                    width          : 50px;
                                    height         : 50px;
                                    object-fit     : cover;
                                    object-position: top;
                                }

                                .default {
                                    width     : 50px;
                                    height    : 17px;
                                    border    : 1px solid #f06e00;
                                    color     : #f06e00;
                                    font-size : 9px;
                                    margin-top: 3px;
                                }
                            }

                            .col-right {
                                font-size: 14px;
                                width    : 150px;
                            }
                        }
                    }

                }
            }


        }

        .sumary-section {
            width           : 100%;
            background-color: white;
            margin-top      : 10px;
            display         : flex;
            flex-direction  : row;


            .content-left {
                width         : 50%;
                border        : 1px solid rgba(0, 0, 0, 0.1);
                display       : flex;
                flex-direction: row;
                align-items   : flex-start;
                padding       : 0 20px;
                padding-top   : 30px;
                gap           : 20px;

                label {
                    font-size : 15px;
                    margin-top: 6px;
                }

                input {
                    border      : 1px solid rgba(0, 0, 0, 0.1);
                    outline     : none;
                    height      : 35px;
                    width       : 80%;
                    padding-left: 10px;
                    font-size   : 14px;
                }
            }

            .content-right {
                width         : 50%;
                border        : 1px solid rgba(0, 0, 0, 0.1);
                // padding    : 0 20px;
                padding-top   : 30px;
                height        : fit-content;

                ul {
                    width          : 100%;
                    list-style-type: none;
                    padding        : 0;
                    height         : fit-content;
                    margin-bottom  : 0;

                    li {
                        padding-left  : 20px;
                        width         : 100%;
                        height        : fit-content;
                        border-bottom : 1px solid rgba(0, 0, 0, 0.1);
                        text-align    : left;
                        font-size     : 14px;
                        display       : flex;
                        flex-direction: row;
                        padding       : 10px 20px;

                        .inf-left {
                            width      : 20%;
                            padding-top: 1px;
                        }

                        .inf-right {
                            width         : 80%;
                            display       : flex;
                            flex-direction: column;

                            .main-text {
                                color: #f06e00;
                            }

                            .sub-text {
                                color    : #707070;
                                font-size: 13px;
                            }

                            .icon {
                                font-size : 17px;
                                color     : #707070;
                                margin-top: 3px;
                                cursor    : pointer;
                            }
                        }

                    }
                }
            }
        }


        .voucher-section {
            width           : 100%;
            background-color: white;
            margin-top      : 30px;
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            align-items     : center;
            height          : 70px;
            padding         : 0 20px;

            .content-left {

                .icon {
                    color       : #f06e00;
                    margin-right: 10px;
                }

                span {
                    font-size: 18px;
                }
            }

            .content-right {
                button {
                    background-color: white;
                    border          : none;
                    color           : #f06e00;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .payment-section {
            width           : 100%;
            background-color: white;
            margin-top      : 30px;
            display         : flex;
            flex-direction  : column;
            padding         : 20px 20px;
            margin-bottom   : 70px;

            .section1 {
                display        : flex;
                flex-direction : row;
                justify-content: space-between;

                h4 {
                    font-size  : 18px;
                    font-weight: 400;
                }

                .menu {
                    position: relative;

                    button {
                        border          : none;
                        background-color: white;
                        font-size       : 14px;
                        font-weight     : 400 !important;

                        span {
                            color: #f06e00;
                        }
                    }
                }


            }

            .section2 {
                display       : flex;
                flex-direction: column;
                align-items   : flex-end;
                border-top    : 1px solid rgba(0, 0, 0, 0.1);

                .price-container {
                    width         : 100%;
                    display       : flex;
                    flex-direction: column;
                    margin-top    : 5px;
                    margin-bottom : 30px;

                    .info-section {
                        width            : 100%;
                        border-bottom    : 1px solid rgba(0, 0, 0, 0.1);
                        // height        : 30px;
                        padding          : 10px 0;
                        display          : flex;
                        flex-direction   : row;

                        .left {
                            width      : 50%;
                            text-align : left;
                            font-size  : 15px;
                            font-weight: 400;

                        }

                        .right {
                            width      : 50%;
                            text-align : right;
                            font-size  : 16px;
                            font-weight: 400;

                        }

                    }


                }


            }

            .section3 {
                width          : 100%;
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: center;
                gap            : 30px;

                .btn1 {
                    border          : 1px solid rgba(0, 0, 0, 0.1);
                    background-color: white;
                    padding         : 15px 15px;

                    &:hover {
                        opacity: 0.8;
                        border : 1px solid black;

                    }
                }

                .btn2 {

                    background-color: white;
                    padding         : 15px 15px;
                    color           : white;
                    background-color: #f06e00;
                    border          : 1px solid #f06e00;
                    width           : 200px;

                    &:hover {
                        opacity         : 0.8;
                        background-color: white;
                        color           : #f06e00;
                    }

                }
            }
        }

    }
}

.dialog-qr-box {
    display       : flex;
    flex-direction: row;

    .header-title {
        font-size    : 15px;
        font-weight  : 500;
        margin-bottom: 20px;
    }

    .content-left {
        width         : 400px;
        height        : 600px;
        border        : 1px solid rgba(0, 0, 0, 0.2);
        display       : flex;
        flex-direction: column;
        align-items   : center;

        // justify-content: center;
        .waiting {
            display       : flex;
            flex-direction: row;
            align-items   : center;
            gap           : 10px;
        }

        .qr-container {
            width        : 200px;
            height       : 200px;
            padding      : 5px;
            border       : 1px solid rgba(0, 0, 0, 0.2);
            margin-top   : 20px;
            margin-bottom: 20px;

            img {
                width : 100%;
                height: 100%;
            }
        }

        .img-banks {
            width : 100%;
            height: 300px;
        }

    }

    .content-right {
        width         : 400px;
        height        : 600px;
        border        : 1px solid rgba(0, 0, 0, 0.2);
        display       : flex;
        flex-direction: column;
        align-items   : center;
        padding       : 0 15px;

        .mbbank {
            width        : 100px;
            height       : 45px;
            margin-bottom: 5px;
        }

        .inf-container {
            width         : 100%;
            display       : flex;
            flex-direction: column;
            margin-top    : 5px;
            margin-bottom : 30px;

            .info-section {
                width            : 100%;
                border-bottom    : 1px solid rgba(0, 0, 0, 0.1);
                // height        : 30px;
                padding          : 10px 0;
                display          : flex;
                flex-direction   : row;

                .left {
                    width      : 50%;
                    text-align : left;
                    font-size  : 16px;
                    font-weight: 600;

                }

                .right {
                    width      : 50%;
                    text-align : right;
                    font-size  : 16px;
                    font-weight: 400;

                }

            }


        }
    }
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper {
    max-width : none !important;
    max-height: none !important;
}