.nav-items {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: left;
    padding        : 0 48px;
    margin         : 30px 0;
    color          : #909090;
    font-size      : 14px;
    margin-top     : 100px;

    span {
        cursor: pointer;
    }

}

.product-container {
    width               : 100%;
    // border        : 1px solid red;
    display             : flex;
    flex-direction      : row;
    gap                 : 20px;
    padding             : 0 45px;
    position            : relative;
    // margin-bottom    : 1000px;

    .content-left {
        width      : 60%;
        // border  : 1px solid green;
        position   : relative;
        height     : fit-content;


        .group-images {
            // border: 1px solid red;
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: left;
            gap            : 12px;

            .img-1 {
                object-fit: cover;
                width     : 48%;
                height    : 532px;
            }
        }


        .relevant-products {
            margin-top: 50px;

            .title {
                text-align   : left;
                margin-bottom: 20px;

                .text-left {
                    font-size: 25px;
                }

                .text-right {
                    margin-left: 7px;
                    font-size  : 15px;
                    font-weight: 400;
                    color      : #9a9a9a;
                }
            }

            width: 100%;
        }

        .additional-container {
            width     : 100%;
            position  : relative;
            overflow  : hidden;
            margin-top: 100px;

            .navigation {
                width           : 100%;
                position        : relative;
                display         : flex;
                flex-direction  : row;
                background-color: white;

                // border        : 1px solid red;
                &.reached {
                    position: fixed;
                    left    : 0;
                    top     : 60px;
                    width   : 100%;
                    z-index : 3;
                }

                .nav-child {
                    width           : 25%;
                    height          : 60px;
                    transition      : all 0.3s;
                    position        : relative;
                    background-color: white;
                    cursor          : pointer;

                    &::before {
                        position   : absolute;
                        height     : 1px;
                        content    : '';
                        // border  : 1px solid #f06e00;
                        border     : 1px solid #b6b6b6;
                        width      : 100%;
                        left       : 0;
                        bottom     : 0;
                    }

                    .nav-text {
                        text-align : center;
                        color      : #b6b6b6;
                        line-height: 60px;
                    }

                    &.active {
                        .nav-text {
                            color: #f06e00;
                        }


                        &::before {
                            border: 1px solid #f06e00;
                        }
                    }


                }
            }

            .description-content {
                width   : 100%;
                position: relative;
                height  : 500px;
                left    : 0;
                top     : 0px;
                z-index : 1;
                overflow: hidden;

                &.show {
                    height       : fit-content;
                    margin-bottom: 100px;
                }

                .hide-content-banner {
                    position        : absolute;
                    left            : 0;
                    bottom          : 0;
                    width           : 100%;
                    height          : 100px;
                    background-color: white;


                    &::before {
                        display         : block;
                        content         : '';
                        width           : 100%;
                        height          : 60px;
                        position        : absolute;
                        top             : -60px;
                        left            : 0;
                        right           : 0;
                        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 66%, rgba(255, 255, 255, 0.94) 83%, rgba(255, 255, 255, 0.98) 91%, #ffffff);
                        ;
                    }
                }

                .show-button {
                    width           : 300px;
                    height          : 50px;
                    background-color: white;
                    border          : 1px solid #f06e00;
                    color           : #f06e00;
                    font-size       : 15px;
                }
            }

            .asking-content {
                width          : 100%;
                height         : 100px;
                border-bottom  : 1px solid rgba(0, 0, 0, 0.1);
                border-top     : 1px solid rgba(0, 0, 0, 0.1);
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: space-between;
                margin         : 50px 0;

                .title {
                    width             : 60%;
                    height            : 100%;
                    display           : flex;
                    flex-direction    : row;
                    align-items       : center;
                    justify-content   : center;
                    gap               : 50px;
                    font-size         : 18px;
                    // font-weight    : 500;
                    text-align        : left;
                }

                .button-asking {
                    width           : 180px;
                    height          : 50px;
                    color           : white;
                    background-color: #1d2344;
                    border          : none;
                }
            }

            .payment-information {
                width         : 100%;
                display       : flex;
                flex-direction: column;
                gap           : 40px;

                .group-info {
                    height              : fit-content;
                    width               : 100%;
                    display             : flex;
                    flex-direction      : column;
                    gap                 : 20px;
                    // margin-top       : 40px;
                    // border        : 1px solid red;

                    .title-1 {
                        font-size : 16px;
                        text-align: left;
                    }

                    .title-2 {
                        color      : #b6b6b6;
                        text-align : left;
                        font-size  : 14px;
                        line-height: 25px;
                    }
                }

                &.child {
                    margin-top: 50px;
                }

            }

            .my-fit-size {
                width     : 100%;
                margin-top: 300px;
            }

            .rating-container {
                width     : 100%;
                margin-top: 100px;
            }

        }
    }

    .content-right {
        // border    : 1px solid red;
        width     : 40%;
        left      : 60%;
        top       : 60px;
        padding   : 10px;
        height    : 80vh;
        overflow-y: scroll;
        position  : sticky;
        transition: all 0.6s;

        &.reached {
            top: 120px;
        }
    }


}