.chat-tab-container {
    width           : 300px;
    height          : 450px;
    background-color: white;
    position        : fixed;
    z-index         : 5;
    right           : 20px;
    bottom          : -450px;
    transition      : all 1s;
    display         : flex;
    flex-direction  : column;
    border-radius   : 10px;
    align-items     : center;
    justify-content : space-between;

    &.is-open {
        bottom: 30px;
    }

    .non-login {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        gap            : 10px;
        height         : 100%;
        width          : 100%;

        .tex {
            color: #707070;
        }
    }

    .create-room {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        gap            : 10px;
        height         : 100%;
        width          : 100%;

        .tex {
            color: #707070;
        }
    }

    .content-top {
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        border-bottom  : 1px solid rgba(0, 0, 0, 0.2);

        h3 {
            font-size   : 17px;
            padding-top : 10px;
            padding-left: 10px;

        }

        // padding        : 10px;
    }

    .content-middle {
        width         : 100%;
        height        : 330px;
        position      : relative;
        overflow-y    : scroll;
        padding-top   : 10px;
        padding-left  : 3px;
        gap           : 3px;
        display       : flex;
        flex-direction: column;

        .msg-container {
            width            : 100%;
            // min-height    : 40px;
            position         : relative;
            display          : flex;
            flex-direction   : row;
            height           : fit-content;

            .msg {
                border-radius: 20px;
                max-width    : 290px;
                height       : fit-content;
                width        : fit-content;
                text-align   : left;
                padding      : 10px 20px;
                font-size    : 14px;
                position     : relative;

                &.right {
                    text-align      : left;
                    background-color: white;
                    border          : 1px solid #f06e00;
                    color           : #f06e00;
                }

                &.left {
                    text-align      : left;
                    background-color: #f06e00;
                    color           : white;
                }
            }

            &.right {
                justify-content: end;
            }

            &.left {
                justify-content: left;
            }
        }

    }

    .content-bottom {
        // padding-bottom : 20px;
        display        : flex;
        justify-content: space-between;
        width          : 100%;
        height         : 70px;
        border-top     : 1px solid rgba(0, 0, 0, 0.2);
        padding        : 0;

        .text-input {
            width       : 240px;
            padding     : 0;
            padding-left: 10px;
        }
    }


}